* {
	padding: 0;
	margin: 0;
	font-family: monospace;
	font-weight: 100;
	color: #334;
}

body {
	background-color: #fffded;
}

section {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 1rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
	color: #556;
	font-style: italic;
}

h3 {
	font-size: 2rem;
}

hr {
	border: none;
	height: 1px;
	background-color: #556;
}

a {
	font-size: 1.5rem;
	text-decoration: underline;
}


/* Blog page styles */

.blogbody {
	padding: 2rem;
}

.blog {
	letter-spacing: 0.1rem;
	line-height: 2;
	padding: 0rem 8rem;
}

.blog > * {
	text-align: center;
}


.headerinfo {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	gap: 0;
}

.metadata {
	font-size: .8rem;
	color: #556;
}


.title {
	font-size: 4rem;
}

.subtitle {
	font-size: 2.5rem;
}

.blog > p, a {
	font-size: 1rem;
}
